<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haavard og Dimitri</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <header>
        <a class="h_d" href="/"><h1>HvaHoot</h1></a>
        <nav>
            {% if 'user_id' in session %}
            <h3>Logget inn som: {{ session['name'] }}</h3>
            {% else %}
            {% endif %}
        </nav>
    </header>

    {% block content %}{% endblock %}

    {% if request.path == '/' %}
    {% else %}
    <a href="/" class="btn2">Tilbake</a>
    {% endif %}

</body>

</html>
