{% extends "base.html" %}

{% block title %}Velkommen{% endblock %}

{% block content %}
<div class="container">
    <h1>Velkommen til vår side!</h1>
    <div class="btn-container">
        {% if session.get('user_id') %}
                <a href="/logout" class="btn">Logg ut</a>
                <a href="/play" class="btn">Spill Hvahoot</a>
        {% else %}
            <a href="/login" class="btn">Logg inn</a>
            <a href="/register" class="btn">Registrer</a>
        {% endif %}
    </div>
</div>
{% endblock %}
