{% extends "base.html" %}

{% block title %}Logg inn{% endblock %}

{% block content %}

<h2 class="font">Logg inn</h2>
<form method="POST">
    <label for="name">Navn</label>
    <input type="text" name="name" placeholder="Navn" required><br><br>

    <label for="password">Passord</label>
    <input type="password" name="password" placeholder="Passord" required><br><br>

    <button type="submit">Logg inn</button>
</form>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}
{% endblock %}