{% extends 'base.html' %}
{% block content %}
<div>
    <h2 id="result"></h2>
</div>
<div>
    <button id="startButton" onclick="startQuiz()" class="btn">Spill HvaHoot!</button>
</div>

<form id="quizForm" style="display:none;" onsubmit="event.preventDefault();">
    <div id="question1" style="display:none;">
        <h1 class="question"><label for="svar1">Hva er 1 + 1?</label><br></h1>
        <div class="box_layout"> 
            <h2 onclick="answerQuestion('11')" class="box">11</h2>
            <h2 onclick="answerQuestion('2')" class="box">2</h2>
            <h2 onclick="answerQuestion('3')" class="box">3</h2>
            <h2 onclick="answerQuestion('2,5')" class="box">2,5</h2>
        </div>
    </div>
    <div id="question2" style="display:none;">
        <h1 class="question"><label for="svar2">Hva er 5 + 3?</label><br></h1>
        <div class="box_layout">
            <h2 onclick="answerQuestion('8')" class="box">8</h2>
            <h2 onclick="answerQuestion('53')" class="box">53</h2>
            <h2 onclick="answerQuestion('2')" class="box">2</h2>
            <h2 onclick="answerQuestion('4')" class="box">4</h2>
        </div>
    </div>
    <div id="question3" style="display:none;">
        <h1 class="question"><label for="svar3">Hva er 10 - 4?</label><br></h1>
        <div class="box_layout">
            <h2 onclick="answerQuestion('14')" class="box">14</h2>
            <h2 onclick="answerQuestion('8')" class="box">8</h2>
            <h2 onclick="answerQuestion('11')" class="box">11</h2>
            <h2 onclick="answerQuestion('6')" class="box">6</h2>
        </div>
    </div>
    <div id="question4" style="display:none;">
        <h1 class="question"><label for="svar4">Hva er 7 x 3?</label><br></h1>
        <div class="box_layout">
            <h2 onclick="answerQuestion('20')" class="box">20</h2>
            <h2 onclick="answerQuestion('10')" class="box">10</h2>
            <h2 onclick="answerQuestion('21')" class="box">21</h2>
            <h2 onclick="answerQuestion('4')" class="box">4</h2>
        </div>
    </div>
    <div id="question5" style="display:none;">
        <h1 class="question"><label for="svar5">Hva er 16 ÷ 4?</label><br></h1>
        <div class="box_layout">
            <h2 onclick="answerQuestion('4')" class="box">4</h2>
            <h2 onclick="answerQuestion('20')" class="box">20</h2>
            <h2 onclick="answerQuestion('12')" class="box">12</h2>
            <h2 onclick="answerQuestion('8')" class="box">8</h2>
        </div>
    </div>
</form>

{% endblock %}
